* {
  box-sizing: border-box;
}

.contents {
  width: 100%;
  height: 100%;
}

.head {
  background-color: pink;
  height: 100px;
}

.top {
  background-color: orange;
  height: 500px;
  display: flex;
}

.right-box {
  height: 100%;
  width: 50%;
  background-color: red;
}

.left-box {
  height: 100%;
  width: 50%;
}

img {
  width: 50%;
}

.middle-one {
  background-color: green;
  height: 200px;
}

.middle-two {
  background-color: yellow;
  height: 800px;
}

.bottom {
  background-color: aqua;
  height: 200px;
}

