* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.head {
  background-color: pink;
  height: 100px;
}

.contents {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-bar {
  width: 20%;
}

li a {
  display: block;
}

.item {
  height: 70px;
}

.main {
  width: 80%;
}


.top {
  background-color: orange;
  height: 500px;
  display: flex;
}

.right-box {
  height: 100%;
  width: 50%;
  background-color: red;
}

.left-box {
  height: 100%;
  width: 50%;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.picture {
  text-align: center;
}

img {
  width: 50%;
}

.middle-one {
  background-color: green;
  height: 200px;
}

.middle-two {
  background-color: yellow;
  height: 800px;
}

.list {
  text-align: center;
}

a:hover {
  opacity: 0.7;
}

.app-image {
  max-width: 450px;
  height: 250px;
}

.bottom {
  background-color: aqua;
  height: 200px;
}

.title {
  margin-left: 20px;
}

.details {
  margin-left: 30px;
}
